* {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(196, 163, 220);

}

.newacc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create {
    font-size: 2.2rem;
    font-weight: bolder;
}

.already {
    padding-left: 0.65rem;
}

.already a {
    padding: 0rem .5rem;
}

.complete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    margin-top: 6rem;
    border-radius: 2.5rem;
    background-color: beige;
    width: 30rem;
    height: 32rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.234);
}

.insquare {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.email {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.email input {
    padding: 7px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    width: 25rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.name {
    display: flex;
    flex-direction: row;
    padding: .5rem 0rem;
}

.firstname input {
    padding: 7px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    width: 12rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.lastname {
    padding-left: 1rem;
}

.lastname input {
    padding: 7px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    width: 12rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.password {
    padding: .5rem 0rem;
}

.password input {
    padding: 7px;
    background-color: rgb(226, 226, 226);
    outline: none;
    border: none;
    width: 25rem;
    height: 2.5rem;
    border-radius: .5rem;
}

.tos {
    padding: .5rem 0rem;
    font-size: small;
    display: flex;
    align-items: center;
}

#spann {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.already {
    display: flex;
}

.signup button {
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    width: 25rem;
    background-color: rgb(11, 98, 185);
}

.signup button:hover {
    background-color: rgb(85, 0, 118);
    transition: .5s;
}

.signup button li {
    color: white;
    margin: 1.3rem 7rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
